<template>
    <div class="container">
        <h1>Welcome To the Country Directory</h1>
        <h3>Enter Desired Country</h3>
        <input class="input" type="text" placeholder="Country Name" v-model="country" />
        <br>
    </div>
    <button @click="search()">Search</button>
    <button @click='random()'>Display Random Country</button>
</template>

<script>
export default{
    data(){
        return{
            country: ''
        }
    },
    methods: {
        search(){
            if(this.country === ''){
                this.$emit('');
            }
            else {
                this.$emit('showInfo'); 
                let country = this.country;
                this.$emit('sendCountry', country);
            }
        },
        random(){
            let text = "Bitch"
            console.log(text);
        }
    }
}
</script>

<style scoped>
.input {
    min-height: 5vh;
    min-width: 20vw;
    max-width: 25vw;
    margin: 0 10px 10px 0;
    font-size: 20px;
    color:black;

}
h1 {
    text-align: center;
}
</style>
