<template>
    <div class="container">
        <h1>{{name.common}}</h1>
        <img :src="flags.png" />
        <img :src="coatOfArms.png" />
        <p>Official Name: {{name.official}}</p>
        <p>Alternative Spellings: </p>
        <div v-for="value in altSpellings" :key="value.id">
            <p> * {{value}}</p>
        </div>
    </div>
    <div class="container">
        <h2>Country Info</h2>
        <p>Capital: {{capital[0]}}</p>
        <p>Population: {{population}}</p>
        <p v-show="independent === true">Independent Country: Yes</p>
        <p v-show="independent === false">Independent Country: No</p>
        <p v-show="unMember === true">Member of the U.N: Yes</p>
        <p v-show="unMember === false">Member of the U.N: No</p>
        <p v-show="landlocked === true">Is Country Landlocked: Yes</p>
        <p v-show="landlocked === false">Is Country Landlocked: No</p>
        <p>Region: {{region}}</p>
        <p>Subegion: {{subregion}}</p>
        <p>On Continents:</p>
        <div v-for="value in continents" :key="value.id">
            <p> * {{value}}</p>
        </div>
    </div>
    <div class="container">
        <h2>Time Zones in {{name.common}}</h2>
        <div class="list" v-for="value in timezones" :key="value.id">
            {{value}}
        </div>
    </div>
    <div class="container">
        <h2>Languages spoken in {{name.common}}</h2>
        <div class="list" v-for="value in languages" :key="value.id">
            {{value}}
        </div>
    </div>
    <div class="container">
        <h2>Types of Currency</h2>
        <div class="list" v-for="value in currencies" :key="value.id">
            <p>Currency Name: {{value.name}} | Currency Symbol: {{value.symbol}}</p>
        </div>
    </div>
    <button @click='returnS()' >Pick New Country</button>
    <div v-show="loaded === 'idle'">Waiting To Load</div>
    <div v-show="loaded === 'loaded'">Country Succefully Loaded</div>
    <div v-show="loaded === 'errored'">Error Loading</div>
</template>

<script>
<div class="container">
</div>
import axios from 'axios';

export default{
    data(){
        return{
            name: {
                common: '',
                official: '',
                nativeName: {},
            },
            independent: false,
            unMember: false,
            currencies: {},
            capital: {},
            altSpellings: {},
            landlocked: false,
            region: '',
            subregion: '',
            languages: {},
            flags: {
                png: ''
            },
            continents: {},
            population: 0,
            timezones: {
                0: ''
            },
            coatOfArms: {
                png: ''
            },

            chosen: null,
            loaded: 'idle',
        }
    },
    beforeUpdate() {
        this.getCountry();
        this.saveCountry();
    },
    props: {
        country: String
    },
    methods: {
        async getCountry(){
            try{
                let countryURL = 'http://localhost:8080/v3.1/name/' + this.country;
                console.log(countryURL);
                let response = await axios.get(countryURL);
                this.chosen = response.data;
                this.loaded = 'loaded';
            }
            catch (error){
                console.log(error);
                this.loaded = 'errored';
            }
        },
        async saveCountry(){
            this.name.common = this.chosen[0].name.common;
            this.name.official = this.chosen[0].name.official;
            this.name.nativeName = this.chosen[0].name.nativeName;
            this.altSpellings = this.chosen[0].altSpellings;

            this.currencies = this.chosen[0].currencies;

            this.flags.png = this.chosen[0].flags.png;

            this.coatOfArms.png = this.chosen[0].coatOfArms.png;

            this.languages = this.chosen[0].languages;

            this.continents = this.chosen[0].continents;

            this.independent = this.chosen[0].independent;
            this.unMember = this.chosen[0].unMember;
            this.capital = this.chosen[0].capital;
            this.population = this.chosen[0].population;
            this.timezones = this.chosen[0].timezones;
            this.landlocked = this.chosen[0].landlocked;
            this.region = this.chosen[0].region;
            this.subregion = this.chosen[0].subregion;
        },   
        returnS(){
            this.$emit('returnSearch');
        }
    }
}
</script>
<style scoped>
h1 {
    text-align: center;
}
.container {
    text-align: left;
}
img {
    padding: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    max-width: 300px;
}
h2 {
    text-align: center;
}
p {
    font-family: comic-sans;
    font-size: 18px;
}
.currency {
    border-width: 2px;
    border-style: solid; 
}
.list {
    text-align: center
}
</style>
