<template>
  <br>
  <div v-show="showPicker">
    <CountryPicker @showInfo="showCountry" @sendCountry="saveCountry($event)" />
  </div>
  <div v-show="showViewer">
    <CountryViewer :country = "country" @returnSearch='showPickerSearch' />
  </div>
  <br>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import CountryPicker from './components/country-picker.vue'
import CountryViewer from './components/country-viewer.vue'

export default {
  name: 'App',
  data(){
    return{
      showViewer: false,
      showPicker: true,
      country: '',
    }
  },
  components: {
    // HelloWorld,
    CountryPicker,
    CountryViewer
  },
  methods: {
    showCountry(){
      this.showViewer = true;
      this.showPicker = false;
    },
    saveCountry(country){
      this.country = country
    },
    showPickerSearch(){
      this.showViewer = false;
      this.showPicker = true;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: rgb(245, 173, 139);
  margin-top: 60px;
  -moz-osx-font-smoothing: grayscale;
  max-width: 50em;
  padding: 5vw;
  margin: auto;
}
button {
    background-color: crimson;
    color: antiquewhite;
    min-width: 10em;
    min-height: 4em;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
.container {
  margin-bottom: 1.5vh;
  padding: 5vw;
  background-color: rgb(250, 248, 248);
  border-radius: 15px;
}
</style>
